@import "./base";

.home-pay,.home-product,.home-pipe,.home-friend,.home-question{
    h2{
        font-size: $size_big;
        text-align: center;
    }
    > aside{
        font-size: $size_middle;
        text-align: center;
        line-height: 3;
        color: $color_tint;
    }
}

.home-pay{
    padding: 60px 0;
    h2{
        color: $bg_ac;
    }

    > ul{
        @extend %mwidth;
        display: flex;
        padding: 90px 0 30px;
        li{
            flex: 1;
            padding: 0 26px;
            cursor: pointer;
            > i{
                display: block;
                margin: 0 auto 35px;
                width: 70px;
                height: 70px;
            }
            > h3{
                font-size: $size_middle;
                color: $color_base;
            }
            > div{
                position: relative;
                margin: 12px 0;
                height: 1px;
                background-color: $line-light;
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background-color: $bg_ac;
                    width: 0;
                    transition: width 0.6s;
                }
            }
            > p{
                font-size: $size_x;
                line-height: 1.8;
            }
            @for $i from 1 to 5{
                &:nth-child(#{$i}) > i{
                    @include bg("icon#{$i}.png")
                }
                &.active,&:hover{
                    &:nth-child(#{$i}) > i{
                        background-image: url('../../images/icon#{$i}_ac.png');
                    }
                }
            }

            &.active,&:hover{

                > div:after{
                    width: 100%;
                }
            }
        }
    }
}

.home-product{
    background: url(../../images/earth-bg.jpg) no-repeat center center;
    height: 360px;
    padding: 38px 0;
    box-sizing: border-box;

    h2, > aside{
        color: #fff;
    }

    > ul{
        @extend %mwidth;
        display: flex;
        justify-content: center;
        padding-top: 38px;
        li{
            margin-right: 75px;
            width: 105px;
            height: 118px;
            cursor: pointer;
            @include bg('hexagon2.png');
            &:last-child{
                margin-right: 0;
            }
            i{
                display: block;
                width: 100%;
                height: 100%;
            }
            @for $i from 1 to 5{
                &:nth-child(#{$i}) i{
                    background: url('../../images/icon#{$i/1+4}.png') no-repeat center center;
                }
            }

            &.active,&:hover{
                background-image: url(../../images/hexagon_ac.png);
            }
        }
    }
}

.home-pipe{
    padding: 60px 0;
    h2{
        color: $bg_ac;
    }

    > ul{
        display: flex;
        justify-content: center;
        padding: 64px 0;

        li{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100px;
            height: 100px;
            margin-right: 130px;
            color: $color_base;
            background-color: $bg_grey;
            border-radius: 50%;
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
            &.active,&:hover{
                background-color: $bg_ac;
                color: #fff;
            }
        }
    }
}

.home-friend{
    padding: 60px 0;
    h2{
        color: #000;
    }

    > ul{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        li{
            margin-right: 140px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.home-question{
    padding: 42px 0;
    background-color: $bg_little;
    h2{
        color: #000;
    }
    > ul{
        @extend %mwidth;
        padding: 30px; 
    }
}
.home-question-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-question-list{
    position: relative;
    display: flex;
    cursor: pointer;

    &.active,&:hover{
        background-color: $bg_ac;
        
        .home-question-l,.home-question-r,.home-question-r p{
            color: #fff;
        }
    }
    &:nth-child(2n){
        flex-direction: row-reverse;
        .home-question-l{
            text-align: left;
        }
        .home-question-r{
            text-align: right;
        }
    }
}
.home-question-l,.home-question-r{
    padding: 30px 25px;
    height: 100px;
}
.home-question-l{
    flex: 1;
    text-align: right;
    color: $color_weak;
    p{
        font-size: $size_small;
        &:nth-child(1){
            font-size: $size_large;
        }
    }
}
.home-question-c{
    display: flex;
    padding: 10px;
    img{
        display: block;
        width: 100%;
        align-items: center;
        justify-cotent: center;
        width: 300px;
        height: 160px;
    }
}
.home-question-r{
    flex: 1;
    h3{
        font-size: $size_middle;
        margin-bottom: 18px;
    }
    p{
        font-size: $size_small;
        color: $color_weak;
        line-height: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}

.home-question-more{
    display: block;
    width: 150px;
    height: 44px;
    margin: 0 auto 30px;
    background: url(../../images/arrow-r.jpg) no-repeat;
    cursor: pointer;
}